.profile {
    display: inline-block;
    padding: 30px;
    background-color: white;
    font-size: 20px;
}

.biography {
    display: inline-block;
    border: 5px solid black;
    background-color: gray;
    padding: 30px;
    font-size: 18px;
}

.footer-3-wide {
    display: inline-block;
    border: 5px solid black;
    background-color: yellow;
    padding: 30px;
    font-size: 20px;
    font-weight: 200;
}
body {
    background-color: white;
}